<div class="max-w-7xl mx-auto px-4">
  <h1 class="text-3xl mt-8 font-extrabold">Dashboard</h1>
  <div class="mt-4">
    <div class="grid grid-cols-3 gap-4">
      <app-dashboard-statistics
        [value]="10"
        [labelDescription]="'Posts'"
      ></app-dashboard-statistics>
      <app-dashboard-statistics
        [value]="95"
        [labelDescription]="'Reactions'"
      ></app-dashboard-statistics>
      <app-dashboard-statistics
        [value]="1"
        [labelDescription]="'Others'"
      ></app-dashboard-statistics>
    </div>
  </div>
</div>
