<div class="ms-4 flex items-center">
  <a
    [routerLink]="['/create-post']"
    class="bg-indigo-500 text-white px-4 py-2 rounded"
  >
    Create Post
  </a>

  <div class="ms-2">
    <a
      class="bg-neutral-100 rounded-full p-3 border cursor-pointer block"
      (click)="navbarService.toggleUserMenu()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </a>
    <ul
      class="min-w-[200px] absolute right-0 top-18 bg-neutral-50 border rounded"
      [class]="navbarService.hideUserMenu() ? 'hidden' : ''"
    >
      <li class="bg-neutral-100 text-indigo-500 px-4 py-2">
        <a class="flex">
          <span class="ms-2">
            {{ currentUser().email }}
          </span>
        </a>
      </li>
      <li class="px-4 py-2 hover:bg-neutral-200">
        <a
          href="#"
          class="flex"
          (click)="navbarService.toggleUserMenu()"
          [routerLink]="['/dashboard']"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z"
              />
            </svg>
          </span>
          <span class="ms-2">Dashboard</span>
        </a>
      </li>
      <li class="px-4 py-2 hover:bg-neutral-200">
        <a [routerLink]="['/logout']" class="flex">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636"
              />
            </svg>
          </span>
          <span class="ms-2">Log out</span>
        </a>
      </li>
    </ul>
  </div>
</div>
